body {
    background-image: url(../images/green_cup.png);
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.3;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1; 
}

header {
    background-color: #000;
    color: #fff;
    font-family: 'Fenix', serif;
	width: 100%;
    z-index: 99;
    text-align: center;
}

.container {
    max-width: 1040px;
}

.start-div {
    margin: 15px 0;
    text-align: center;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 15px 20px;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

.player-2-heading {
    text-align: right;
}

.btn-main {
    background-color: #000;
    color: #fff;
}

.btn-main:hover,
.btn-main:active,
.btn-main:focus {
    color: #fff;
    background-color: #666;
}

.form-control {
    border: 1px solid #575c4b;
}

.panel {
    min-height: 244px;
}

.panel-body {
    display: flex;
	justify-content: center;
	flex-direction: column;
    min-height: 160px;
}

.panel-heading, 
.panel-footer,
.panel-body,
.waiting {
    text-align: center;
}

.panel-success {
    border-color: #575c4b
}

.panel-success > .panel-heading {
    border-color: #575c4b;
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold;
}

.panel-success > .panel-footer {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #575c4b;
}

.panel-footer > .stat {
    margin-right: 15px;
}

.panel-footer > .stat:last-of-type {
    margin-right: 0;
}

.well {
    border: none;
    background-color: #575c4b;
    color: #fff;
    border-radius: 0;
    text-align: center;
}

.chat-heading {
    background-color: #666;
    color: #fff;
    border-radius: 3px 3px 0 0;
    padding: 5px 20px;
    text-align: center;
}

.btn.btn-success {
    border-color: #575c4b;
}

.waiting {
    background: #575c4b url(../images/silhouette.jpg) center bottom no-repeat;
    border-radius:3px;
    color: #fff;
    font-size: 5em;
    padding-bottom: 35px;
    min-height: 256px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.results-section {
    font-size: 2.5em;
    font-weight: bold;
    min-height: 256px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.player-choice {
    font-size: 1.5em;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.waiting p {
    font-size: 1.25em;
    margin-bottom: 0;
}

.selection {
    margin: 5px 0;
}

.chat-display {
    background-color: #fff;
    border: 1px solid #575c4b;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 3px 3px;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1.3;
}

.chat-display > .self {
    color: #5cb85c;
}

.chat-display > span {
    display: block;
}

.player-info {
    text-align: center;
}

.input-row > [class*='col-']:first-child {
    padding-right:5px;
    padding-left:15px;
}

.input-row > [class*='col-']:last-child {
    padding-right:15px;
    padding-left:0;
}

.send-button {
    width: 100%;
}

.disconnected {
    color: #f00;
    font-weight: bold;
}

footer {
	background-color: #000;
	color: #fff;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.footer-text {
    font-family: 'Fenix', serif;
}

.social {
    list-style: none;
    float: right;
    font-size: 18px;
    max-width: 200px;
}

.social li {
    float: left;
    margin-right: 10px;
}

.social li a {
    color: #fff;
}

.social li:last-of-type {
    margin-right: 0;
}

.player-header {
    font-size: 1em !important;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .player-choice {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 767px) {
    .player-choice {
        font-size: 1.5em;
    }
    .input-row > [class*='col-']:first-child {
        padding-right:15px;
        padding-left:15px;
    }
    
    .input-row > [class*='col-']:last-child {
        padding-right:15px;
        padding-left:15px;
    }
    footer {
        text-align: center;
        line-height: 1.5;
    }
    .social {
        list-style: none;
        position: relative;
        float: left;
        display: block;
        left: 50%;
    }
    .social li {
        position: relative;
        float: left;
        display: block;
        right: 50%;
    }
}